astroid==2.3.3
certifi==2019.11.28
colorama==0.4.3
cycler==0.10.0
decorator==4.4.1
imageio==2.6.1
isort==4.3.21
kiwisolver==1.1.0
Lasagne==0.1
lazy-object-proxy==1.4.3
matplotlib==3.1.2
mccabe==0.6.1
mkl-service==2.3.0
networkx==2.4
nltk==3.4.5
numpy==1.18.1
Pillow==7.0.0
pip==19.3.1
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.16.2
scipy==1.4.1
setuptools==44.0.0.post20200106
six==1.13.0
Theano==1.0.4
typed-ast==1.4.0
wheel==0.33.6
wincertstore==0.2
wrapt==1.11.2
